body {
  width: 6400px;
  height: 3200px;
}

#tilesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 4rem);
  grid-auto-rows: repeat(auto-fill, 4rem);
}

.tile {
  width: 64px;
  height: 64px;
}

.tile.breakable:hover {
  border: 0.5px solid black;
  box-sizing: border-box;
}

.tile.sky {
  background-color: skyblue;
}

.tile.grass {
  background-color: green;
}

.tile.dirt {
    background-image: url("../assets/tiles/dirt.png"); 
    background-size: cover;   
    background-repeat: no-repeat;
}

.tile.stone {
  background-color: gray;
}

.tile.bedrock {
  background-color: rgb(54, 51, 51);
}