#tools_container {
  display: flex;
  width: fit-content;
  height: fit-content;
  position: fixed;
  left: 520px;
  bottom: 10%;
}
.background_gray {
  background-color: gray;
}

.tools {
  cursor: pointer;
  height: 48px;
  width: 48px;
}

#Axe {
  background-image: url("../assets/tools/axe.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#Pickaxe {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/tools/pickaxe..png");
}
#Shovel {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/tools/shovel.png");
}
