#tools_container {
  display: flex;
  width: fit-content;
  height: fit-content;
  position: fixed;
  left: 43vw;
  right: 47vw;
  bottom: 15%;
  background-color: rgba(255, 255, 255, 0.457);
}
.background_gray {
  background-color: gray;
}

.tools {
  cursor: pointer;
  height: 64px;
  width: 64px;
  background: none;
}

#Axe {
  background-image: url("../assets/tools/diamond-axe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#Pickaxe {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/tools/diamond-pickaxe.jpg");
}
#Shovel {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/tools/diamond-shovel.jpg");
}
#Shears {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/tools/shears-toolStack.jpg");
}
